<header>

    <div class="zoom">
        <div>
            <img id="logo" src="{{ asset('logo.PNG') }}">
            <img id="region" src="{{ asset('region.png') }}">
        </div>
    </div>

</header>