{% trans_default_domain 'FOSUserBundle' %}
{% extends "/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

{% endblock %}


            {% block fos_user_content %}

                <div class="container">







                        <div class="link_to_change">
                            <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
                        </div>





                </div>

            {% endblock fos_user_content %}